<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF7mMvSu0JNJy2-Kool31eXKgeJDXuBv4</string>
	<key>GCM_SENDER_ID</key>
	<string>626436658651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOS.nbcamp.iDo</string>
	<key>PROJECT_ID</key>
	<string>idoproject-test-56624</string>
	<key>STORAGE_BUCKET</key>
	<string>idoproject-test-56624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626436658651:ios:77d28e6b385c71fdc7c3fe</string>
</dict>
</plist>